body{
    background-color: black;
    color: white;
}
h1{
    color: white;
}
table {
    border: 1px solid white;
}
td {
    border: 1px solid white;
}
tr {
    border: 1px solid white;
}
.other{
background-color: salmon;
}
.Alkali{
background-color: peachpuff;
color: black;
}
.alkaline{
background-color: sandybrown;
color: black;
}
.transition{
    background-color: rgb(137, 128, 192);
}
.pink{
background-color: palevioletred;
}
.halogeens{
background-color: seagreen;
}
.rare{
background-color: rgb(117, 224, 117) ;
color: black;
}
.Actinoid{
    background-color:skyblue;
    color: black;
}